/* ----------- Custom css ---------- */
/* for , . ; [{( suggestion */
  .mtk1 {
    color: #fff;
    text-shadow: 0 0 3px #1c1c1c,
                 0 0 5px #1c1c1c,
                 0 0 7px #f2f2f2;
  }

  .mtk5 {
    color: #fff;
    text-shadow: 0 0 3px #1c1c1c,
                 0 0 5px #1c1c1c,
                 0 0 7px #f2f2f2;
  }

  /* numeric */
  .mtk6 {
    color: #fff;
    text-shadow: 0 0 3px #1c1c1c,
                 0 0 5px #1c1c1c,
                 0 0 7px #f2f2f2;
  }

  /* ' " string */
  .mtk11 {
    color: #fff;
    text-shadow: 0 0 3px #1c1c1c,
                 0 0 5px #1c1c1c,
                 0 0 7px #f2f2f2;
  }

  /* function */
  .mtk15 {
    color: #fff;
    text-shadow: 0 0 3px #af11ff,
                 0 0 5px #af11ff,
                 0 0 9px #ce9de8;
  }

  .mtk21 {
    color: #fff;
    text-shadow: 0 0 3px #1c1c1c,
                 0 0 5px #1c1c1c,
                 0 0 7px #f2f2f2;
  }
