/* ----------- Custom css ---------- */
/* Notes */
/*
  .mtk1   : Symbol . ; [{( Suggestion inline
  .mtk5   : Namespace definite default
  .mtk6   : Numeric
  .mtk8   : Class of html
  .mtk9   : Like variable of function
  .mtk10  : Like json =>
  .mtk11  : String
  .mtk13  : Like </ > tag of html
  .mtk13  : Like regex
  .mtk15  : Function
  .mtk16  : Like Vanguard\Http\Resources\image.jpg
  .mtk17  : Like return
  .mtk18  : Like subscriptions context.subscriptions.push(disposable) js language
  .mtk23  : Comments
*/

/* Hints */
/*
  https://colorhunt.co/
*/

/* Colors used */
.Colors-used {
  color: #F2F2F2;
  color: #CE9DE8;
  color: #aF11FF;
  color: #1C1C1C;
  color: #D8BFD8;
  color: #50C878;
  color: #1E90FF;
  color: #FA8072;
  color: #AFB4FF;
  color: #59CE8F;
  color: #FBC5C5;
  color: #C8B6E2;
  color: #9C9EFE;
}

/* Common */
/* Border selected file */
.monaco-list.settings-toc-tree .monaco-list-row.selected,
.monaco-list.settings-toc-tree .monaco-list-row.focused,
.monaco-list .monaco-list-row.selected,
.monaco-list.settings-toc-tree:not(.drop-target)
.monaco-list-row:hover:not(.selected):not(.focused) {
  color: #FFFFF0;
  border-radius: 2px;
  border: 1px solid #1E90FF;
}

/* Input border */
.monaco-inputbox {
  color: #FFFFF0;
  border-radius: 2px;
  border-bottom: 1px solid #1E90FF;
}

/* Normal mode */
.mtk1 {
  color: #FFFFF0;
}

.mtk5 {
  color: #59CE8F;
}

.mtk6 {
  color: #FA8072;
}

.mtk8 {
  color: #50C878;
}

.mtk9 {
  color: #AFB4FF;
}

.mtk10 {
  color: #FFFFF0;
}

.mtk11 {
  color: #FFF;
}

.mtk13 {
  color: #00FF7F;
}

.mtk14 {
  color: #FBC5C5;
}

.mtk15 {
  color: #C8B6E2;
}

.mtk16 {
  color: #00FF7F;
}

.mtk17 {
  color: #9C9EFE;
}

.mtk18 {
  color: #D8BFD8;
}

.mtk20 {
  color: #59CE8F;
}

.mtk23 {
  font-style: italic;
}

/* Glow mode */
/* .mtk1 {
  color: #fff;
  text-shadow: 0 0 3px #1c1c1c,
               0 0 5px #1c1c1c,
               0 0 9px #f2f2f2;
}

.mtk5 {
  color: #fff;
  text-shadow: 0 0 3px #1c1c1c,
               0 0 5px #1c1c1c,
               0 0 9px #f2f2f2;
}

.mtk6 {
  color: #fff;
  text-shadow: 0 0 3px #1c1c1c,
               0 0 5px #1c1c1c,
               0 0 9px #f2f2f2;
}

.mtk11 {
  color: #fff;
  text-shadow: 0 0 3px #1c1c1c,
               0 0 5px #1c1c1c,
               0 0 9px #f2f2f2;
}

.mtk15 {
  color: #fff;
  text-shadow: 0 0 3px #af11ff,
               0 0 7px #af11ff,
               0 0 11px #ce9de8;
}

.mtk21 {
  color: #fff;
  text-shadow: 0 0 3px #1c1c1c,
               0 0 5px #1c1c1c,
               0 0 9px #f2f2f2;
} */
